.top-section {
    display: flex;
    justify-content: center;
    padding: 1rem;
    max-width: 100%; 
    flex-wrap: wrap;
    background-color: var(--secondary);
}

.top-section-icons {
    display: flex;
    padding: 0.5rem;
    justify-content: flex-end;
    max-width:  100%;
}

.about-me-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    max-width: 30rem;
    background-color: var(--background);
}

.about-me {
    font-size: 2rem;
}

.big-portrait-text {
    display: flex;
    justify-content: center;
}


figure {
    max-width: 40rem;
}
