.top-section {
    display: flex;
}

.about-me {
    font-size: 2rem;
}

.about-me-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    max-width: 40rem;
}

.top-section-icons {
    display: flex;
    padding: 0.5rem;
    justify-content: flex-end;
    max-width:  100%;
}